.st-block__control-ui .st-block-control-ui-btn--align-left:before,
.st-block__control-ui .st-block-control-ui-btn--align-right:before,
.st-block__control-ui .st-block-control-ui-btn--align-center:before,
.st-block__control-ui .st-block-control-ui-btn--align-justify:before {
	display: block;
	font-family: 'upplication-icons' !important;
}

.st-align-left { text-align: left; }
.st-align-center { text-align: center; }
.st-align-justify { text-align: justify; }
.st-align-right { text-align: right; }

.st-block__control-ui .st-block-control-ui-btn--align-left:before {
	content: "\ea03";
}
.st-block__control-ui .st-block-control-ui-btn--align-center:before {
	content: "\ea01";
}
.st-block__control-ui .st-block-control-ui-btn--align-right:before {
	content: "\ea04";
}
.st-block__control-ui .st-block-control-ui-btn--align-justify:before {
	content: "\ea02";
}
