/* Icons binding */
.st-block-control .st-icon {
    display: none;
}

.st-block-control:before,
.st-block__ui > .st-icon:before,
.st-block__ui-delete-controls > .st-icon:before {
    font-family: 'upplication-icons' !important;
    display: block;
}

/* Icons on the block add secion */
.st-block-control:before { font-size: 2.25em; }
.st-block-control[data-type="text"]:before { content: '\EA51'; }
.st-block-control[data-type="ck_editor"]:before { content: '\EA51'; }
.st-block-control[data-type="quote"]:before { content: '\EA59'; }
.st-block-control[data-type="image"]:before { content: '\EA54'; }
.st-block-control[data-type="image_edit"]:before { content: '\EA54'; }
.st-block-control[data-type="Heading"]:before { content: '\EA38'; }
.st-block-control[data-type="list"]:before { content: '\EA65'; }
.st-block-control[data-type="video"]:before { content: '\EA6F'; }
.st-block-control[data-type="button"]:before { content: '\EA11'; }
.st-block-control[data-type="widget"]:before { content: '\EA18'; }
.st-block-control[data-type="map"]:before { content: '\EA48'; }
.st-block-control[data-type="spacer"]:before { content: '\EA60'; }
.st-block-control[data-type="columns"]:before { content: '\EA1A'; }

.st-block__ui .st-icon.st-block-ui-btn--delete:before { content: '\EA66'; }
.st-block__ui .st-icon.st-block-ui-btn--delete:hover:before { content: '\EA67'; }
.st-block__ui .st-icon.st-block-ui-btn--reorder:before { content: '\EA07'; }

.st-block__ui-delete-controls .st-icon.st-block-ui-btn--confirm-delete:before { content: '\EA4E'; }
.st-block__ui-delete-controls .st-icon.st-block-ui-btn--deny-delete:before { content: '\EA1E'; }


/* NEW ONES! */

.panel-content #st-editor-2,
.panel-content #st-editor-2 .st-errors,
.panel-content #st-editor-2 .st-ready,
.panel-content #st-editor-2 .st-ready .st-block-controls,
.st-block-controls--active {
    background-color: #ffffff;
}

.st-block-controls--active a {
    color: #555555;
    padding: 10px;
    margin: 10px;
    border: 1px dashed #cccccc;
    min-width: 80px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.st-block-controls--active a:hover {
    color: #00c86b;
    border: 1px dashed #00c86b;
    background-color: #f6f6f6;
}

.panel-content #st-editor-2 .st-ready .st-block__inner {
    margin: 0 10px;
    padding: 1em;
}

.st-block__inner:hover {
    border-color: #00c86b;
}


.st-block-control-ui-btn,
.st-block-ui-btn {
    color: #00c86b;
    border-top: 2px solid #00c86b;
    border-left: 2px solid #00c86b;
}

.st-block-control-ui-btn:hover,
.st-block-ui-btn:hover {
    color: #ffffff;
    background-color: #00c86b;
    border-top: 2px solid #00c86b;
    border-left: 2px solid #00c86b;
}

a.st-block-ui-btn.st-block-ui-btn--deny-delete,
a.st-block-ui-btn.st-block-ui-btn--confirm-delete {
    color: #eb5151;
    border-top: 2px solid #eb5151;
    border-left: 2px solid #eb5151;
}
a.st-block-ui-btn.st-block-ui-btn--deny-delete:hover,
a.st-block-ui-btn.st-block-ui-btn--confirm-delete:hover {
    background-color: #e62323;
    color: #ffffff;
}


/* Sir Trevor Blocks "add feature" fullwidth Button */
.st-block-controls__top,
.st-icon--add:after {
    margin: 10px;
    background-color: #eeeeee;
    border-radius: 0;
}

.st-block-controls__top:hover:before {
    color: #00c86b;
    background: #F3F3F3;
    cursor: pointer;
}

.st-block--with-plus:after {
    color: #00c86b;
}

.st-block__delete-label {
    background-color: #fbcec9;
    font-weight: 600;
}

.st-upload-btn {
    background-color: #00c86b;
    border-radius: 0;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

.st-block__upload-container:hover .st-upload-btn {
    background-color: #00a659;
}

.panel-content #st-editor-2 .st-errors {
    background-color: #ffe1e4;
    color: #eb5151;
    padding: 1em;
    margin: 10px;
}

.st-block-control-ui-btn--save {
    border-left: none;
    border-right: 2px solid #00c86b;
}

.st-block-control-ui-btn--clone {
    border-left: none;
    border-bottom: none;
    border-top: 2px solid #00c86b;
    border-right: 2px solid #00c86b;
}

.st-block__messages {
    position: relative;
    top: -1.9em;
    left: -30px;
    padding: 10px 15px;
    border: none;
    border-left: none;
    border-top: none;
    width: 100%;
}

.st-block--with-errors .st-block__messages {
    border-color: #eb5151;
    background-color: #fbcec9;
}

.st-block__inputs {
    padding: 1.6em 0 1em;
    border-radius: 0;
    background: #ffffff;
    border-top: 2px solid transparent;
    border: 1px dashed #cccccc;
}



/* Sir Trevor blocks UI buttons */
.st-icon.st-block-ui-btn:before,
.st-icon.st-block-control-ui-btn:before {
    line-height: 2.5em;
}
.st-icon.st-block-control-ui-btn {
    line-height: 2.5em;
    height: 2.5em;
    width: 3em;
}

/* ... SIR TREVOR :: SAVE BUTTON ICON (FLOPPY) .................. */
.st-icon.st-block-control-ui-btn--save:before {
    content: '\E83E';
    font-family: "search";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* SirTrevor: Hide Link/Unlink float controls */
.st-format-bar .st-format-btn--Link,
.st-format-bar .st-format-btn--Unlink {
    display: none;
}

/* SirTrevor: Fix border because of hiding Link/Unlink controls */
.st-format-bar .st-format-btn--Italic {
    border-right: none;
}




/* RESERT :: Sir Trevor Blocks "action" title with more padding top */
.st-block[data-type=button] .st-editor .st-column.st-column-66.st-padding-right-25 .st-control .st-field-name {
    padding-top: 20px;
    min-width: 80px;
}

/* RESERT :: Sir Trevor Blocks more padding bottom to fix edition controls overlay */
.st-block__inner {
    padding: 1.875em 1.875em 3.8em;
}

/* Sir Trevor Blocks to delete lateral paddings in edition sliders (button feature) */
input[name="css-width"],
input[name="css-padding"],
input[name="css-border-width"],
input[name="css-border-radius"],
input[name="css-font-size"] {
    padding-right: 0;
    padding-left: 0;
}


/* ............................................................... */
/* ... SIR TREVOR BLOCKS :: numbers in "BUTTON" feature editor .. */
/* ............................................................. */

.st-block[data-type=button] .st-input-container.st-range:after {
    position: absolute;
    display: inline-block;
    content: attr(st-value);
    font-size: 13px !important;
    top: 8px;
    left: initial;
    right: 0;
    padding: 9px 0;
    color: #999999;
}

@media screen and (max-width: 1620px) {
    .st-block[data-type=button] .st-input-container.st-range:after {
        right: 0;
    }
}

@media screen and (max-width: 670px) {
    .st-block[data-type="button"] .st-column.st-column-66 {
        width: 66.6666%;
    }
    .st-block[data-type="button"] .st-column.st-column-25 {
        width: 25%;
    }
    .st-block[data-type="button"] .st-column.st-column-33 {
        width: 33.3333%;
    }
}

@media screen and (max-width: 567px) {
    .st-block[data-type="button"] .st-column.st-column-66,
    .st-block[data-type="button"] .st-column.st-column-33,
    .st-block[data-type="button"] .st-column.st-column-25 {
        width: 100%;
        margin-bottom: 10px;
    }
    .st-block[data-type=button] .st-input-container.st-range:after {
        display: none;
    }
    .st-block[data-type="button"] h5.st-field-name.st-align-name,
    .st-block[data-type="button"] h5.st-field-name {
        min-width: 80px !important;
    }
}

@media screen and (max-width: 365px) {
    .st-block[data-type="button"] .st-control .st-input-container.st-color,
    .st-block[data-type="button"] .st-control .st-input-container.st-select {
        text-align: left;
    }
}
/* Preview */
.st-block[data-type="button"] .st-preview {
    text-align: center;
    margin: 0 auto;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -ms-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
    color: #4D4D4D;
    cursor: pointer;
}

.st-block[data-type="button"] .st-preview * {
    color: inherit;
    background-color: inherit;
    width: 100%;
    line-height: inherit;
    border-radius: inherit;
    min-height: 0;
    margin: 0;
    padding: 0;
}

.st-block[data-type="button"] .st-preview .st-text-block {
    min-height: 1em;
}

.st-block[data-type="button"] .st-preview:hover {
    opacity: 0.8;
}

/* Editor */
.st-block[data-type="button"] .st-editor:after,
.st-block[data-type="button"] .st-control:after,
.st-block[data-type="button"] .st-preview:before,
.st-block[data-type="button"] .st-preview:after,
.st-block[data-type="button"] .st-row:before,
.st-block[data-type="button"] .st-row:after {
    display: block;
    clear: both;
    content: ' ';
}


.st-block[data-type="button"] .st-editor {
    margin-bottom: 18px;
}

.st-block[data-type="button"] .st-column {
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}

.st-block[data-type="button"] .st-column.st-column-66 {
    width: 66.66%;
}

.st-block[data-type="button"] .st-column.st-column-33 {
    width: 33.33%;
}

.st-block[data-type="button"] .st-column.st-column-25 {
    width: 50%;
}

.st-block[data-type="button"] .st-control {
    position: relative;
    margin-top: 0;
}

.st-block[data-type="button"] .st-control > * {
    float: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.st-block[data-type="button"] .st-control .st-field-name {
    width: 15%;
    padding-top: 14px;
    padding-right: 10px;
}

.st-block[data-type=button] .st-column h4,
.st-block[data-type=button] h5.st-field-name.st-align-name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: .01em;
    color: #3fa4d7 !important;
}

.st-block[data-type=button] .st-editor .st-control .st-field-name {
    padding-top: 14px;
    padding-right: 10px;
    font-size: 15px;
    color: #777777;
}

.st-block[data-type="button"] .st-control .st-input-container {
    width: 85%;
}

.st-block[data-type=button] .st-input-container.st-range {
    padding: 5px 0;
}

.st-block[data-type=button] .st-input-container.st-range:after {
    position: absolute;
    display: inline-block;
    content: attr(st-value);
    font-size: 13px;
    top: initial;
    left: initial;
    padding: 12px 0 0 5px;
    color: #999999;
}

.st-block[data-type="button"] .st-control .st-input-container.st-color,
.st-block[data-type="button"] .st-control .st-input-container.st-select {
    text-align: right;
}

.st-block[data-type=button] .st-input-container.st-color {
    padding: 10px 0;
}

.st-block[data-type="button"] .st-control .st-input-container.st-color .sp-preview {
    width: 6em;
}

.st-block[data-type="button"] select {
    padding: 5px 10px;
}

.st-block[data-type="button"] input[type="range"] {
    position: relative;
    overflow: visible;
}

.st-block[data-type="button"] .st-input-container {
    padding: 9px 0;
}

.st-block[data-type="button"] .st-input-container.st-range:after {
    position: absolute;
    display: block;
    content: attr(st-value);
    font-size: 0.8em;
    top: 2px;
    left: 92%;
    padding: 9px 0;
}

/* Give room for the output value */
.st-block[data-type="button"] input[type="range"] {
    width: 100%;
}

/* Container resert */
.st-block[data-type="button"] .st-input-container:not(.st-input-container-resert) {
    width: inherit !important;
}

/* Inputs */
.st-block[data-type="button"] h5.st-field-name {
    min-width: 75px;
}

.st-block[data-type="button"] h5.st-field-name.st-align-name {
    font-size: 17px;
}

.st-block[data-type="button"] .st-input-long {
    min-width: 450px;
}

.st-block[data-type="button"] .st-column.st-column-33 .st-input-container input {
    max-width: 150px;
}

/* Selects */
.st-block[data-type="button"] .st-input-container.st-color .sp-replacer {
    border: 1px solid transparent !important;
    background: #eeeeee !important;
    min-width: 122px !important;
}

.st-block[data-type="button"] .st-input-container.st-select select.st-value {
    border: none;
    background: #eeeeee;
    min-width: 132px;
    margin-top: 8px;
}

.st-block[data-type="button"] .sp-dd {
    position: relative;
    left: 8px;
}

.st-color .sp-preview {
    border-color: #999999;
}

/* Padding and Margin */
.st-block[data-type="button"] .st-padding-right-25 {
    padding-right: 25px;
}

.st-block[data-type="button"] .st-padding-sides-25 {
    padding: 0 25px;
}

.st-block[data-type="button"] .st-padding-left-25 {
    padding-left: 25px;
}

.st-block[data-type="button"] .st-margin-bottom-20 {
    margin-bottom: 20px;
}

/* Sir Trevor "ADD FEATURE" BUTTON */
.st-block[data-type=button] .st-editor .st-icon:before {
    font-size: 22px;
    left: 6px;
}
.st-block[data-type=button] .st-editor .st-icon.st-icon-width:before {
    top: 4px;
    font-size: 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1565px) {
    .st-block[data-type="button"] .st-column.st-column-66.st-padding-right-25 .st-input-container {
        width: 100%;
    }
    .st-block[data-type="button"] h5.st-field-name.st-align-name {
        min-width: 100% !important;
    }
    .st-block[data-type="button"] .st-input-container.st-input-container-resert {
        width: 100% !important;
    }
    .st-block[data-type=button] .st-input-container-resert .st-input-long {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 670px) {
    .st-block[data-type="button"] .st-column.st-column-66,
    .st-block[data-type="button"] .st-column.st-column-33,
    .st-block[data-type="button"] .st-column.st-column-25 {
        width: 100%;
    }
    .st-block[data-type="button"] .st-padding-right-25 {
        padding-right: 0;
    }

    .st-block[data-type="button"] .st-padding-sides-25 {
        padding: 0;
    }

    .st-block[data-type="button"] .st-padding-left-25 {
        padding-left: 0;
    }

    .st-block[data-type=button] .st-column {
        padding: 0;
    }
}/* CKEDITOR */
/* Top Main buttons */
.cke_top {
    border-bottom: 1px solid transparent !important;
    white-space: normal !important;
    box-shadow: 0 0 0 #fff inset !important;
    background: #eeeeee !important;
    background-image: none !important;
}

/* Body */
.cke_chrome {
    border: 1px solid #eeeeee !important;
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

/* Bottom */
.cke_bottom {
    border-top: 1px solid transparent !important;
    box-shadow: 0 0 0 #fff inset;
    background: transparent !important;
    background-image: none !important;
}

/* Buttons */
.cke_ltr .cke_button:first-child,
.cke_rtl .cke_button:last-child {
    border-radius: 0 !important;
}

.cke_toolgroup,
.cke_dialog_title,
.cke_dialog_footer {
    border: 1px solid transparent !important;
    border-bottom-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #eeeeee !important;
    background-image: none !important;
}

.cke_dialog_footer {
    border: 0 !important;
}

a.cke_button_off:hover,
a.cke_button_off:focus,
a.cke_button_off:active,
a.cke_button_disabled:hover,
a.cke_button_disabled:focus,
a.cke_button_disabled:active {
    background-color: #cccccc !important;
    box-shadow: none !important;
    background-image: none !important;
}

a.cke_button_on,
a.cke_button_on:hover,
a.cke_button_on:focus,
a.cke_button_on:active {
    background-color: #cccccc !important;
    box-shadow: none !important;
    background-image: none !important;
}

a.cke_combo_button {
    border: 1px solid transparent !important;
    border-bottom-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #dddddd !important;
    background-image: none !important;
    width: 100px;
}

.cke_combo_text {
    color: #484848 !important;
    text-shadow: 0 0 0 rgba(255,255,255,0) !important;
    font-weight: 600 !important;
}

/* Modals dialogs - Frame */

.cke_dialog_body {
    background: #ffffff !important;
    border: 1px solid #cccccc !important;
    border-bottom-color: #cccccc !important;
    border-radius: 0 !important;
}

/* Modals dialogs - Texts & Labels */

.cke_dialog_title {
    font-size: 14px !important;
    text-shadow: none !important;
}

.cke_dialog_body label {
    font-size: 14px !important;
    font-family: lato,serif !important;
    line-height: 26px !important;
    color: #555555 !important;
}

/* Modals dialogs - Inputs & Text Areas */

input.cke_dialog_ui_input_text,
input.cke_dialog_ui_input_password,
textarea.cke_dialog_ui_input_textarea {
    border: 1px solid #cccccc !important;
    padding: 5px 6px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    min-width: 115px !important;
}

select.cke_dialog_ui_input_select {
    border-radius: 0 !important;
    box-shadow: none !important;
    max-width: 115px !important;
}

/* Modals dialogs - Tabs */

.cke_dialog_contents {
    border-top: none !important;
}

.cke_dialog_tabs {
    left: 1px !important;
    margin: 5px !important;
}

a.cke_dialog_tab {
    font-size: 14px !important;
    letter-spacing: 0.02em !important;
    font-family: "Lato", serif !important;
    height: 25px !important;
    line-height: 25px !important;
    color: #484848 !important;
    border: none !important;
    border-radius: 0 !important;
    background: #eeeeee !important;
    background-image: none !important;
    min-width: 159px !important;
}

a.cke_dialog_tab:hover {
    background: #dddddd !important;
}

a.cke_dialog_tab_selected,
a.cke_dialog_tab_selected:hover {
    background: #ffffff !important;
}

/* Modals dialogs - Buttons */

a.cke_dialog_ui_button {
    border-radius: 0 !important;
    text-shadow: none !important;
    border: none !important;
    background-image: none !important;
    padding: 8px 5px !important;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
}

a.cke_dialog_ui_button_ok {
    text-shadow: none !important;
    border: none !important;
    background: #00c86b !important;
    background-image: none !important;
}

a.cke_dialog_ui_button_ok:hover {
    border: none !important;
    background: #009550 !important;
}

a.cke_dialog_ui_button_cancel {
    background: #b81f0d !important;
}

a.cke_dialog_ui_button_cancel:hover {
    border: none !important;
    background: #791409 !important;
}

a.cke_dialog_ui_button span,
a.cke_dialog_ui_button_ok span,
a.cke_dialog_ui_button_cancel span {
    text-shadow: none !important;
    letter-spacing: 0.04em !important;
    font-weight: 500 !important;
    font-family: "lato", serif !important;
    font-size: 14px !important;
}

a.cke_dialog_ui_button_ok span,
a.cke_dialog_ui_button_cancel span {
    color: #ffffff !important;
}

/* Modals dialogs - Resizer */

.cke_dialog .cke_resizer {
    margin-top: 29px !important;
}

/* end ckeditor */
.st-block[data-type="columns"] .st-columns-editor {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
}

.st-block[data-type="columns"] .st-columns-block:after {
	display: block;
	clear: both;
	content: "";
}

.st-block[data-type="columns"] .st-block .st-block__control-ui .st-block-control-ui-btn--clone {
    display: none;
}

.st-block[data-type="columns"]:hover .st-block .st-block__ui,
.st-block[data-type="columns"]:hover .st-block .st-block__control-ui {
	display: none;
}

.st-block[data-type="columns"] .st-block:hover .st-block__ui,
.st-block[data-type="columns"] .st-block:hover .st-block__control-ui {
	display: block;
}

.st-block[data-type="columns"] .st-block:hover .st-block__ui .st-block-ui-btn--reorder,
.st-block[data-type="columns"] .st-block:hover .st-block__ui .st-block-positioner {
	display: none;
}

.st-columns-block .st-columns-editor .st-editor .st-row .st-column {
    width: 100%;
    padding: 0;
}

.st-columns-block .st-columns-editor .st-editor .st-row .st-column h4 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .01em;
    color: #3fa4d7;
    margin: 10px 0;
}
.st-columns-block .st-columns-editor .st-editor .st-row .st-column h4:first-child {
    margin-top: 5px;
}

.st-columns-block .st-columns-editor .st-editor .st-row .st-column .st-control {
    margin-top: 8px;
}

.st-block[data-type="button"] .st-input-container.st-input-container-resert {
    width: 65% !important;
}

.st-columns-block .st-columns-editor .st-editor .st-row .st-column .st-control .st-field-name {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .01em;
    color: #777777;
    display: inline-block;
    float: left;
    text-align: right;
    width: 35%;
    max-width: 100px;
    min-width: 35% !important;
    padding-top: 14px !important;
    padding-right: 10px;
}

.st-block[data-type="button"] .st-input-container.st-select {
    padding-top: 0;
}

.st-columns-block .st-columns-editor .st-editor .st-row .st-column .st-control .st-input-container .st-input-container-resert {
    display: inline-block;
    float: right;
    width: 65% !important;
    float: right;
}

.st-columns-block .st-block[data-type="button"] .st-input-container.st-color .sp-replacer,
.st-columns-block .st-block[data-type="button"] .st-input-container.st-select select.st-value {
    float: left;
}

.st-columns-block .st-block[data-type=button] .st-input-container.st-range:after {
    position: absolute;
    display: inline-block;
    content: attr(st-value);
    font-size: 12px !important;
    top: 9px;
    left: 99%;
    color: #999999;
}

/* Media Queries */
@media screen and (min-width: 1565px) {
    .st-columns-block .st-block[data-type=button] .st-input-container-resert .st-input-long {
        min-width: inherit;
    }
}

@media screen and (min-width: 1365px) {
    .st-columns-block .st-block[data-type=button] .st-input-container.st-range:after {
        left: 85%;
    }
}

@media screen and (max-width: 1095px) {
    .st-columns-block .st-block[data-type="button"] .st-input-container:not(.st-input-container-resert) {
        width: 63% !important;
    }
}

@media screen and (max-width: 567px) {
    .st-columns-editor.st-columns-editor-left,
    .st-columns-editor.st-columns-editor-right {
        width: 100% !important;
        float: left !important;
    }
}

@media screen and (max-width: 365px) {
    .st-columns-block .st-columns-editor .st-editor .st-row .st-column .st-control .st-field-name {
        width: 30% !important;
    }
    .st-block[data-type="button"] .st-input-container.st-input-container-resert {
        width: 70% !important;
    }
    .st-block[data-type="button"] .st-input-container:not(.st-input-container-resert) {
        width: 70% !important;
    }
}
.st-block[data-type="image_edit"] .image-href {
	margin-top: 5px;
}
.st-block[data-type="spacer"] .st-control {
    margin-bottom: 10px;
}

.st-block[data-type="spacer"] .st-control:after {
    clear: both;
    display: block;
    content: '';
}

.st-block[data-type="spacer"] .st-value-container {
    padding-left: 20px;
    padding-right: 40px;

}

.st-block[data-type="spacer"] .st-control {
    position: relative;
}

.st-block[data-type="spacer"] .st-control .st-output {
    position: absolute;
    right: 0;
    top: 8px;
}

.st-block[data-type="spacer"] .st-control .st-icon:before {
    display: block;
    font-family: 'upplication-icons' !important;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 5px;
}

.st-block[data-type="spacer"] .st-control .st-icon.st-icon-height:before { content: '\EA60'; }
.st-block[data-type="widget"] .st-widget-editor-container {
    color: #42474B;
    padding: 0 20px;
    text-align: left;
    font-size: 0.8em;
}

.st-block[data-type="widget"] .st-widget-editor-container .st-icon:before {
    font-size: 3em;
    text-align: center;
    font-family: 'upplication-icons' !important;
    display: block;
    content: '\EA18';
}

.st-block[data-type="widget"] textarea {
    width: 100%;
    padding: 0.6em;
    border: 1px solid #D4D4D4;
    text-align: left;
    margin: 0.4em auto 0px;
    height: auto;
    font-family: monospace;
    box-sizing: border-box;
    resize: none;
}
.st-block__control-ui .st-block-control-ui-btn--align-left:before,
.st-block__control-ui .st-block-control-ui-btn--align-right:before,
.st-block__control-ui .st-block-control-ui-btn--align-center:before,
.st-block__control-ui .st-block-control-ui-btn--align-justify:before {
	display: block;
	font-family: 'upplication-icons' !important;
}

.st-align-left { text-align: left; }
.st-align-center { text-align: center; }
.st-align-justify { text-align: justify; }
.st-align-right { text-align: right; }

.st-block__control-ui .st-block-control-ui-btn--align-left:before {
	content: "\EA03";
}
.st-block__control-ui .st-block-control-ui-btn--align-center:before {
	content: "\EA01";
}
.st-block__control-ui .st-block-control-ui-btn--align-right:before {
	content: "\EA04";
}
.st-block__control-ui .st-block-control-ui-btn--align-justify:before {
	content: "\EA02";
}
.st-block__control-ui .st-block-control-ui-btn--clone:before {
	display: block;
	font-family: 'upplication-icons' !important;
	content: "\EA17";
}
