<div class="st-editor">
	@@include('button/preview.html')
	<div class="st-row">
		<input name="href" type="text">
	</div>
	<div class="st-row">
		<div class="st-column">
			<div class="st-control">
				<div class="st-icon">C</div>
				<input class="st-value" name="css-background-color" type="color">
			</div>
			<div class="st-control">
				<div class="st-icon">W</div>
				<input class="st-value" name="css-width" type="range" units="%" step="1" max="100" min="10">
			</div>
			<div class="st-control">
				<div class="st-icon">H</div>
				<input class="st-value" name="css-line-height" type="range" units="%" step="1" max="500" min="10">
			</div>
		</div>
		<div class="st-column">
			<div class="st-control">
				<div class="st-icon">B</div>
				<input class="st-value" name="css-border-color" type="color">
			</div>
			<div class="st-control">
				<div class="st-icon">B</div>
				<input class="st-value" name="css-border-width" type="range" units="px" step="1" max="6" min="0">
			</div>
			<div class="st-control">
				<div class="st-icon">B</div>
				<input class="st-value" name="css-border-radius" type="range" units="px" step="1" max="100" min="0">
			</div>
		</div>
	</div>
</div>