/* Preview */
.st-block[data-type="button"] .st-preview {
    text-align: center;
    margin: 0 auto;
    -webkit-transition: opacity 0.25s ease-out;
    -moz-transition: opacity 0.25s ease-out;
    -ms-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
    color: #4D4D4D;
    cursor: pointer;
}

.st-block[data-type="button"] .st-preview * {
    color: inherit;
    background-color: inherit;
    width: 100%;
    line-height: inherit;
    border-radius: inherit;
    min-height: 0;
    margin: 0;
    padding: 0;
}

.st-block[data-type="button"] .st-preview .st-text-block {
    min-height: 1em;
}

.st-block[data-type="button"] .st-preview:hover {
    opacity: 0.8;
}

/* Editor */
.st-block[data-type="button"] .st-editor:after,
.st-block[data-type="button"] .st-control:after,
.st-block[data-type="button"] .st-preview:before,
.st-block[data-type="button"] .st-preview:after,
.st-block[data-type="button"] .st-row:before,
.st-block[data-type="button"] .st-row:after {
    display: block;
    clear: both;
    content: ' ';
}


.st-block[data-type="button"] .st-editor {
    margin-bottom: 18px;
}

.st-block[data-type="button"] .st-column {
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}

.st-block[data-type="button"] .st-column.st-column-66 {
    width: 66.66%;
}

.st-block[data-type="button"] .st-column.st-column-33 {
    width: 33.33%;
}

.st-block[data-type="button"] .st-column.st-column-25 {
    width: 50%;
}

.st-block[data-type="button"] .st-control {
    position: relative;
    margin-top: 0;
}

.st-block[data-type="button"] .st-control > * {
    float: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.st-block[data-type="button"] .st-control .st-field-name {
    width: 15%;
    padding-top: 14px;
    padding-right: 10px;
}

.st-block[data-type=button] .st-column h4,
.st-block[data-type=button] h5.st-field-name.st-align-name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: .01em;
    color: #3fa4d7 !important;
}

.st-block[data-type=button] .st-editor .st-control .st-field-name {
    padding-top: 14px;
    padding-right: 10px;
    font-size: 15px;
    color: #777777;
}

.st-block[data-type="button"] .st-control .st-input-container {
    width: 85%;
}

.st-block[data-type=button] .st-input-container.st-range {
    padding: 5px 0;
}

.st-block[data-type=button] .st-input-container.st-range:after {
    position: absolute;
    display: inline-block;
    content: attr(st-value);
    font-size: 13px;
    top: initial;
    left: initial;
    padding: 12px 0 0 5px;
    color: #999999;
}

.st-block[data-type="button"] .st-control .st-input-container.st-color,
.st-block[data-type="button"] .st-control .st-input-container.st-select {
    text-align: right;
}

.st-block[data-type=button] .st-input-container.st-color {
    padding: 10px 0;
}

.st-block[data-type="button"] .st-control .st-input-container.st-color .sp-preview {
    width: 6em;
}

.st-block[data-type="button"] select {
    padding: 5px 10px;
}

.st-block[data-type="button"] input[type="range"] {
    position: relative
}

.st-block[data-type="button"] input[type="range"]:after {
    position: absolute;
    display: block;
    content: attr(st-value);
    font-size: 0.8em;
    text-align: right;
    top: 8px;
    right: -28px;
}

/* Give room for the output value */
.st-block[data-type="button"] input[type="range"] {
    width: 92%;
}

/* Container resert */
.st-block[data-type="button"] .st-input-container:not(.st-input-container-resert) {
    width: inherit !important;
}

/* Inputs */
.st-block[data-type="button"] h5.st-field-name {
    min-width: 80px;
}

.st-block[data-type="button"] h5.st-field-name.st-align-name {
    font-size: 17px;
}

.st-block[data-type="button"] .st-input-long {
    min-width: 450px;
}

.st-block[data-type="button"] .st-column.st-column-33 .st-input-container input {
    max-width: 150px;
}

/* Selects */
.st-block[data-type="button"] .st-input-container.st-color .sp-replacer {
    border: 1px solid transparent !important;
    background: #eeeeee !important;
    min-width: 122px !important;
}

.st-block[data-type="button"] .st-input-container.st-select select.st-value {
    border: none;
    background: #eeeeee;
    min-width: 132px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.st-block[data-type="button"] .sp-dd {
    position: relative;
    left: 8px;
}

.st-color .sp-preview {
    border-color: #999999;
}

/* Padding and Margin */
.st-block[data-type="button"] .st-padding-right-25 {
    padding-right: 25px;
}

.st-block[data-type="button"] .st-padding-sides-25 {
    padding: 0 25px;
}

.st-block[data-type="button"] .st-padding-left-25 {
    padding-left: 25px;
}

.st-block[data-type="button"] .st-margin-bottom-20 {
    margin-bottom: 20px;
}

/* Sir Trevor "ADD FEATURE" BUTTON */
.st-block[data-type=button] .st-editor .st-icon:before {
    font-size: 22px;
    left: 6px;
}
.st-block[data-type=button] .st-editor .st-icon.st-icon-width:before {
    top: 4px;
    font-size: 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1565px) {
    .st-block[data-type="button"] .st-column.st-column-66.st-padding-right-25 .st-input-container {
        width: 100%;
    }
    .st-block[data-type="button"] h5.st-field-name.st-align-name {
        min-width: 100% !important;
    }
    .st-block[data-type="button"] .st-input-container.st-input-container-resert {
        width: 100% !important;
    }
    .st-block[data-type=button] .st-input-container-resert .st-input-long {
        min-width: 100% !important;
    }
}

@media screen and (max-width: 670px) {
    .st-block[data-type="button"] .st-column.st-column-66,
    .st-block[data-type="button"] .st-column.st-column-33,
    .st-block[data-type="button"] .st-column.st-column-25 {
        width: 100%;
    }
    .st-block[data-type="button"] .st-padding-right-25 {
        padding-right: 0;
    }

    .st-block[data-type="button"] .st-padding-sides-25 {
        padding: 0;
    }

    .st-block[data-type="button"] .st-padding-left-25 {
        padding-left: 0;
    }

    .st-block[data-type=button] .st-column {
        padding: 0;
    }
}