.st-block[data-type="button"] .st-preview {
    text-align: center;
    margin: 0 auto;
    transition: opacity 0.25s ease-out;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
    color: #4D4D4D;
    cursor: pointer;
}

.st-block[data-type="button"] .st-editor:after,
.st-block[data-type="button"] .st-preview:before,
.st-block[data-type="button"] .st-preview:after,
.st-block[data-type="button"] .st-row:before,
.st-block[data-type="button"] .st-row:after {
    display: block;
    clear: both;
    content: ' ';
}

.st-block[data-type="button"] .st-preview * {
    color: inherit;
    background-color: inherit;
    width: 100%;
    line-height: inherit;
    border-radius: inherit;
    min-height: 0;
    margin: 0;
    padding: 0;
}

.st-block[data-type="button"] .st-preview:hover {
    opacity: 0.8;
}


.st-block[data-type="button"] .st-editor {
    margin-bottom: 18px;
}

.st-block[data-type="button"] .st-editor .st-column {
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}

.st-block[data-type="button"] .st-editor .st-column.st-column-50 {
    width: 50%;
}

.st-block[data-type="button"] .st-editor .st-column.st-column-33 {
    width: 33.33%;
}

.st-block[data-type="button"] .st-preview .st-text-block {
    min-height: 1em;
}

.st-block[data-type="button"] .st-editor .st-control {
    position: relative;
    margin-top: 0.4em;
}

.st-block[data-type="button"] .st-editor .st-control .st-input-container {
    padding: 0 20px;
}

.st-block[data-type="button"] .st-editor .st-icon:before {
    font-family: 'ST-Icons-Button-Upplication' !important;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 2px;
}

.st-block[data-type="button"] .st-editor input[type="range"] {
    position: relative
}

.st-block[data-type="button"] .st-editor input[type="range"]:after {
    position: absolute;
    display: block;
    content: attr(st-value);
    font-size: 0.8em;
    text-align: right;
    top: 8px;
    right: -27px;
}

.st-block[data-type="button"] .st-editor .st-icon.st-icon-color:before { content: '\e810'; top: 5px; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-link:before { content: '\e815'; top: 10px; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-border:before { content: '\e814'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-radius:before { content: '\e80b'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-height:before { content: '\e811'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-width:before { content: '\e811'; transform: rotate(90deg);}
