.st-block[data-type="columns"] .st-columns-editor {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
}

.st-block[data-type="columns"] .st-columns-block:after {
	display: block;
	clear: both;
	content: "";
}
