.st-block[data-type="spacer"] .st-control {
    margin-bottom: 10px;
}

.st-block[data-type="spacer"] .st-control:after {
    clear: both;
    display: block;
    content: '';
}

.st-block[data-type="spacer"] .st-value-container {
    padding-left: 20px;
    padding-right: 40px;

}

.st-block[data-type="spacer"] .st-control {
    position: relative;
}

.st-block[data-type="spacer"] .st-control .st-output {
    position: absolute;
    right: 0;
    top: 8px;
}

.st-block[data-type="spacer"] .st-control .st-icon:before {
    display: block;
    font-family: 'upplication-icons' !important;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 5px;
}
.st-block[data-type="spacer"] .st-control .st-icon.st-icon-height:before { content: '\ea60'; }