.st-block[data-type="button"] .st-preview {
    text-align: center;
    margin: 0 auto;
    transition: opacity 0.25s ease-out;
    border-style: solid;
    box-sizing: border-box;
    overflow: hidden;
    color: #4D4D4D;
    cursor: pointer;
}

.st-block[data-type="button"] .st-preview * {
    color: inherit;
    background-color: inherit;
    width: 100%;
    line-height: inherit;
    border-color: inherit;
    border-radius: inherit;
    border-width: inherit;
    min-height: auto;
}

.st-block[data-type="button"] .st-preview:hover {
    opacity: 0.8;
}

.st-block[data-type="button"] .st-editor {
    margin-bottom: 18px;
}

.st-block[data-type="button"] .st-editor .st-column {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 0 0.5em;
}

.st-block[data-type="button"] .st-editor .st-row:after {
    clear: both;
    display: block;
    content: '';
}

.st-block[data-type="button"] .st-preview .st-text-block {
    min-height: 1em;
}

.st-block[data-type="button"] .st-editor .st-control {
    position: relative;
    margin-top: 0.4em;
}

.st-block[data-type="button"] .st-editor .st-control .st-input-container {
    padding-left: 20px;
}

.st-block[data-type="button"] .st-editor .st-icon:before {
    font-family: 'ST-Icons-Button-Upplication' !important;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 2px;
}

.st-block[data-type="button"] .st-editor .st-icon.st-icon-color:before { content: '\e810'; top: 5px; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-link:before { content: '\e815'; top: 10px; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-border:before { content: '\e814'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-radius:before { content: '\e80b'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-height:before { content: '\e811'; }
.st-block[data-type="button"] .st-editor .st-icon.st-icon-width:before { content: '\e811'; transform: rotate(90deg);}

.st-block[data-type="widget"] .st-widget-editor-container {
    text-align: center;
    color: #42474B;
    font-size: 1.2em;
    padding: 0 20px;
}

.st-block[data-type="widget"] .st-widget-editor-container .st-icon:before {
    font-size: 2.25em;
    font-family: 'ST-Icons-Upplication' !important;
    display: block;
    content: '\e800';
}

.st-block[data-type="widget"] textarea {
    width: 80%;
    padding: 0.6em;
    border: 1px solid #D4D4D4;
    text-align: center;
    margin: 0.4em auto 0px;
}

/* Icons binding */
.st-block-control .st-icon {
    display: none;
}

.st-block-control:before{
    font-size: 2.25em;
    font-family: 'ST-Icons-Upplication' !important;
    display: block;
}

.st-block-control[data-type="text"]:before { content: '\e807'; }
.st-block-control[data-type="text_align"]:before { content: '\e807'; }
.st-block-control[data-type="quote"]:before { content: '\e805'; }
.st-block-control[data-type="image"]:before { content: '\e801'; }
.st-block-control[data-type="image_edit"]:before { content: '\e801'; }
.st-block-control[data-type="Heading"]:before { content: '\e808'; }
.st-block-control[data-type="heading_align"]:before { content: '\e808'; }
.st-block-control[data-type="list"]:before { content: '\e806'; }
.st-block-control[data-type="video"]:before { content: '\e809'; }
.st-block-control[data-type="button"]:before { content: '\e803'; }
.st-block-control[data-type="widget"]:before { content: '\e800'; }
.st-block-control[data-type="map"]:before { content: '\e802'; }
